aws-config.json
aws.4dbase/Components
aws.4dbase/vc_data
aws.4dbase/vc_methods/Debug.txt
aws.4dbase/aws.4DD
# aws.4dbase/aws.4DIndy # Always include 4DIndy in git
aws.4dbase/aws.journal
aws.4dbase/aws.Match
aws.4dbase alias
aws.4dbase/Logs/
aws.4dbase/Preferences/BuildApp
aws.4dbase/Resources/cache/
Backup.xml
*.4BK
aws_Build/Compiled Database/aws.4dbase/Resources/components/aws-config*json
aws_Build/Components/aws.4dbase - Shortcut.lnk
